.cart {
    margin: 1rem 0;

    &__empty-message {
        text-align: center;
    }
}

.cart-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    white-space: nowrap;
    
    &__total {
        flex: 1;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__order-button {
        max-width: 8rem;
        flex: 1;
        justify-content: flex-end;
    }
}