@import "Mixins";

.cart-table {
  margin: 0 1.5rem 1.5rem 1.5rem;
  &__column-image {
    width: 12%;
  }

  &__column-title {
    width: 10%;
  }

  &__column-details {
    width: 58%;

    @include respond(tab-portrait) {
      width: 30%;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__column-quantity {
    width: 7%;
  }

  &__column-cost {
    width: 7%;
    text-align: center;
  }

  &__column-delete {
    width: 5%;
  }
}