.cart-table--column-image {
  width: 15%;
}
.cart-table--column-title {
  width: 10%;
}
.cart-table--column-details {
  width: 58%;
}
.cart-table--column-quantity {
  width: 5%;
}
.cart-table--column-cost {
  width: 5%;
}
.cart-table--column-delete {
  width: 5%;
}
