@import "App.css";
@import "Product.scss";
@import "Variables";
@import "Mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    // This defines what 1rem is
  @include respond(desktop) {
    font-size: 87.5%; //1rem = 14, 14px/16px = 75%
  }

  @include respond(tab-landscape) {
      font-size: 81.25%; //1 rem = 13px; 13px/16px = 81.25%
  }

  @include respond(tab-portrait) {
    font-size: 75%; //1 rem = 12px, 12/16 = 75%
  }

  @include respond(phone) {
      font-size: 62.5%; //1 rem = 10px, 10/16 = 62.5%
  }
}

a {
  text-decoration: none;
}

p {
  text-indent: 1rem;
  margin: 0.7rem 0;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-image: url(../images/memphis-mini.png);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clickable {
  cursor: pointer;
}

.focusable {
  border: 1px solid $color-gray-light-2;
        &:focus {
            outline: 2px solid $color-gray-light-2 ;
        }

        &:hover {
            border-color: $color-gray-dark;
        }
}

.button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: $padding-vertical;
  min-width: 2.5rem;
  font: inherit;
}

.button--small {
  padding: $padding-vertical-small;
  min-width: 2.2rem;
}

.button-solid {
  border: none;
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-white;
    background-image: linear-gradient( to right bottom, rgba($color-gray-dark, 0.7), rgba($color-gray-dark, 1));
  }

  &:hover{
    outline: none;
    text-decoration: none;
    background-color: $color-gray-dark;
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2); 
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.5rem rgba($color-black, 0.2); 
  }
  &:disabled {
    transform: none;
    background-color: transparent;
    background-image: linear-gradient( to right bottom, rgba($color-gray-light, 0.5), rgba($color-gray-light, 0.7));
    box-shadow: none;
  }
}

.button-outline {
  background-color: transparent;
  border: 1px solid $color-gray-light;

  &:link,
  &:visited {
    text-decoration: none;
    color: $color-gray-light;
  }

  &:hover{
    text-decoration: none;
    background-color: $color-gray-dark;
    color: $color-white
  }
}

.button-warning {
  background-image: linear-gradient( to right bottom, rgba($color-warning, 0.7), rgba($color-warning, 1));
}

.button-danger {
  background-image: linear-gradient( to right bottom, rgba($color-danger, 0.7), rgba($color-danger, 1));
}

.text {
  &--white {
    color: $color-white;
  }

  &--gray {
    color: $color-gray-light;
  }
}

.screenreaders-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
