@import url("App.css");
@import url("CartTable.css");
@import url("Catalog.css");
@import url("CatalogTable.css");
@import url("Footer.css");
@import url("ItemCounter.css");
@import url("Main.css");
@import url("OrderTable.css");
@import url("Pagination.css");
@import url("ProductDetails.css");
@import url("ProductForm.css");
@import url("ProductPrice.css");
@import url("Rate.css");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(../images/memphis-mini.png);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clickable {
  cursor: pointer;
}

#bootstrap-overrides .btn,
#bootstrap-overrides .list-group-item,
#bootstrap-overrides .form-control,
#bootstrap-overrides .page-link,
#bootstrap-overrides .modal-content {
  border-radius: 0px;
}
