$color-primary-dark: #343a40;
$color-primary-light: #52616b;

$color-gray-dark: #5a6268;
$color-gray-light: #93989c;
$color-gray-light-2: #ced4da;
$color-gray-light-3: #f3f3f3;
$color-danger: #ff2525;
$color-danger-light: #ff465e;
$color-warning: #ff951b;
$color-black: #000000;
$color-white: #f6f6f6;
$color-yellow: #fffb2b;

$padding-vertical: 0.5rem;
$padding-vertical-small: 0.25rem;
