.profile-form {
    &__header {
        text-align: center;
        margin: 1.5rem;
    }

    &__content {
        width: 45%;
        margin: 0 auto;
    }

    &-button {
        width: 100%;
        margin: 0.5rem 0;
    }
}