@import "Mixins";

.catalog-page {
    display: flex;
    margin: 1rem;

    @include respond(tab-portrait) {
        display: block;
    }

    &__spinner {
        margin-top: 2.5rem;
    }
}

.empty-message {
    &__header {
        margin: 2rem;
        text-align: center;
    }

    &__redirect-button {
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }
}

.categories-list {
    margin: 0 1rem 2rem;
    flex: 2;

    @include respond(tab-portrait) {
        text-align: center;
        width: 70%;
        margin: 1rem auto;
    }
}

.catalog {
    flex: 10;
}
