@import "Mixins";

.order-form {
    &__message {
        font-size: 1.5rem;
        font-weight: 400;

        @include respond(tab-portrait) {
            text-align: center;
        }
    }

    &__form {
        margin: 1.5rem 0;
    }
}

.orderform-button {
    display: block;
    width: 100%;
    margin: 1rem auto;
}