@import "Mixins";

.order {
  margin: 1rem;

  &__header {
    text-align: center;
  }

  &__content {
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__summary {
    flex: 1;
    margin: 0.5rem 1.5rem 0.5rem 0.5rem;

    @include respond(phone) {
      margin: 0.5rem 1rem;
    }
  }

  &-total-cost {
    float: right;
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__order-form {
    flex: 1;
    margin: 0.5rem 0.5rem 0.5rem 1.5em;

    @include respond(phone) {
      margin: 0.5rem 1rem;
    }
  }
}
