@import "Variables";

.info-table {
    &__row {
        &:not(:last-child) {
            border-bottom: 1px solid $color-gray-light-2;
        }
        &:hover {
            background-color: $color-gray-light-3;
        }
    }

    &__cell {
        padding: 0.5rem;
    }
}

