body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

#bootstrap-overrides .active > .page-link {
  background-color: gray;
  color: white;
  border-color: gray;
}

#form-button-right {
  border-radius: 0 4px 4px 0;
  line-height: 1.2em;
  font-size: 1em;
}

#form-button-left {
  border-radius: 4px 0 0 4px;
  line-height: 1.2em;
  font-size: 1em;
}

#form-input {
  height: 1.8em;
  vertical-align: top;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  color: #ffffff;
}

body {
  background-image: url(images/memphis-mini.png);
}

#bootstrap-overrides .btn,
#bootstrap-overrides .list-group-item,
#bootstrap-overrides .form-control,
#bootstrap-overrides .page-link,
#bootstrap-overrides .modal-content {
  border-radius: 0px;
}
