@import "Mixins";

.catalog-table {

  &__column-image {
    width: 18%;
  }

  &__column-title {
    width: 10%;
  }

  &__column-details {
    width: 50%;

    @include respond(tab-portrait) {
      width: 25%;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__column-rate {
    width: 11%;
  }

  &__column-price {
    width: 5%;
  }

  &__column-buynow {
    width: 10%;
  }
}